In [133]:
import pandas as pd
import numpy as np

In [134]:
pwd()

'/Users/tanmay/Dev/code/great-learning/courses/Statistical Learning/Project1'

In [150]:
laliga = pd.read_csv('Laliga.csv')

In [154]:
laliga.replace('-',0,inplace=True)

In [153]:
laliga[(laliga['Debut'].apply(lambda x: int(x[0:4])) > 1930) & (laliga['Debut'].apply(lambda x: int(x[0:4])) < 1980)]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [163]:
laliga['Points'] = laliga['Points'].astype(str).astype(int)
laliga.sort_values(by='Points',ascending=False).iloc[0:5][['Team','Points']]

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

In [156]:
laliga['GoalsFor'] = laliga['GoalsFor'].astype(str).astype(int)
laliga['GoalsAgainst'] = laliga['GoalsAgainst'].astype(str).astype(int)
def Goal_diff_count(df):
    df['Goal_diff_count'] = df['GoalsFor'] - df['GoalsAgainst']
    return df
laliga_with_goal_diff = Goal_diff_count(laliga)

In [157]:
laliga_with_goal_diff.iloc[pd.Series.idxmax(laliga_with_goal_diff['Goal_diff_count']),:]['Team']

'Real Madrid'

In [158]:
laliga_with_goal_diff.iloc[pd.Series.idxmin(laliga_with_goal_diff['Goal_diff_count']),:]['Team']

'Racing Santander'

In [164]:
laliga['GamesWon'] = laliga['GamesWon'].astype(str).astype(int)
laliga['GamesPlayed'] = laliga['GamesPlayed'].astype(str).astype(int)
laliga['Winning Percent'] = laliga['GamesWon']/laliga['GamesPlayed']*100
laliga['Winning Percent'].fillna(0,inplace=True)
laliga.sort_values(by='Winning Percent',ascending=False).iloc[0:5][['Team','Winning Percent']]

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

In [132]:
laliga.groupby(by='BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64